@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'maghfirea';
  src: url('./assets/font/Maghfirea.otf') format('opentype');
}

@font-face {
  font-family: 'nevradaneue';
  src: url('./assets/font/NevradaNeue.otf') format('opentype');
}

@font-face {
  font-family: 'Monea Alegante';
  src: url('./assets/font/Monea\ Alegante.otf') format('opentype');
}
body {
  margin: 0;
  font-family: 'poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #f0f0f5;
}
::selection {
  background-color: #e0eff8;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #96b6fa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6c82ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c82ff;
}

